{% extends "base.html" %}

{% block content %}
 
    <div class="container py-4">
      <div class="card shadow-sm">
        <div class="card-body">
    <h2>{{ title }}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          {{ form.name.label_tag }} {{ form.name }}
        </div>
        <div class="mb-3">
          {{ form.planned_start_date.label_tag }} {{ form.planned_start_date }}
        </div>
        <div class="mb-3">
          {{ form.planned_end_date.label_tag }} {{ form.planned_end_date }}
        </div>
        <div class="form-check mb-3">
          {{ form.is_current }} {{ form.is_current.label_tag }}
        </div>
        <a href="{% url 'manage-sprints' %}" class="btn btn-secondary mt-3"><i class="bi bi-arrow-left-square me-2"></i> Back to List</a>
        <button type="submit" class="btn btn-success mt-3">Save</button>
        {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
        {% endif %}
      </form>
  </div>
</div>
</div>
{% endblock %}