{% extends "base.html" %}

{% load task_extras %}

{% block content %}
<div class="container py-4">
  
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="">📋 Task List</h1>
    
    <a href="{% url 'task-create' %}" class="btn btn-primary">
      <i class="bi bi-plus-lg"></i> Add Task
    </a>
  </div>
  <div class="d-flex justify-content-evenly align-items-center">
      <div class="mb-3">
        <a href="?filter=all" class="mb-2 btn btn-outline-primary btn-sm {% if current_filter == 'all' %}active{% endif %}">All</a>
        {% for status in status_set %}
          <a href="?filter={{ status.name }}" class="mb-2 btn {{ status|status_filter_class }} btn-sm {% if current_filter == status.name %}active{% endif %}">
            {{ status.name }}
          </a>
        {% endfor %}
      </div>   
  </div>

  {% if object_list %}
  <!-- Cards for Mobile -->
  <div class="d-block d-md-none">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for task in object_list %}
      <div class="col">
        <div class="card">
          
          <div class="card-header d-flex justify-content-between align-items-center">
            <span class="text-start">{{ task.classification }}</span>
            <span class="badge text-end {{ task.urgency|urgency_class }}">{{ task.urgency }}</span>
            <form method="post" action="{% url 'task-delete' task.id %}" class="d-inline"
                    onsubmit="return confirm('Are you sure you want to delete this task?');">
                {% csrf_token %}

                {% if task.created_by == request.user %}
                  <button type="submit" class="btn btn-link text-danger p-0" title="Delete">
                    <i class="bi bi-trash-fill fs-5"></i>
                  </button>
                {% else %}
                  <button type="button" class="btn btn-link text-secondary p-0" title="Only the creator can delete this" disabled>
                    <i class="bi bi-trash-fill fs-5"></i>
                  </button>
                {% endif %}
              </form>
          </div>
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'task-detail' task.pk %}">{{ task.title }}</a></h5>
            <p class="card-text">{{ task.description|slice:":60"|default:"No description." }}</p>
            <div class="row ">
                <div class="col-6">
                  <ul class="list-unstyled">
                    <li><strong>Created at:</strong> {{ task.created_at|date:"d M" }}</li>
                    <li><strong>Due:</strong> {{ task.due_date|date:"d M" }}</li>                    
                    {% if task.completed_at %}
                    <li><strong>Done at:</strong> {{ task.completed_at|date:"d M" }}</li>
                    {% endif %}
                  </ul>
                </div>
                <div class="col-6">
                  <ul class="list-unstyled">
                    <li><strong>Status:</strong> <span class="badge {{ task.status|status_class }}">{{ task.status }}</span></li>
                    <li><strong>Assignee:</strong>{{ task.assignee }}</li>
                    <li><strong>Created by:</strong> {{ task.created_by }}</li>
                  </ul>
                </div>
            </div>
            
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Table for Desktop -->
  <div class="d-none d-md-block">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Due date</th>
          <th scope="col">Status</th>
          <th scope="col">Urgency</th>
          <th scope="col">Completed at</th>
          <th scope="col">Classification</th>
          <th scope="col">Visibility</th>
          <th scope="col">Assignee</th>
          <th scope="col">Created by</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for task in object_list %}
          <tr>
            <th scope="row">{{ task.id }}</th>
            <td><a href="{% url 'task-detail' task.pk %}">{{ task.title }}</td>
            <td>{{ task.due_date|date:"d/m/Y" }}</td>
            <td>
              {% if task.status %}
                <span class="badge {{ task.status|status_class }}">{{ task.status }}</span>
                {% else %}
                <span class="badge bg-warning text-dark">N/A</span>
                {% endif %}
            </td>
            <td>
              {{ task.urgency }}
            </td>
            <td>
              {{ task.completed_at|date:"d/m/Y H:i" }}
            </td>
            <td>
              {{ task.classification }}
            </td>
            <td>
              {{ task.visibility }}
            </td>
            <td>
              {{ task.assignee }}
            </td>
            <td>
              {{ task.created_by }}
            </td>
            <td>
              <form method="post" action="{% url 'task-delete' task.id %}" class="d-inline"
                    onsubmit="return confirm('Are you sure you want to delete this task?');">
                {% csrf_token %}

                {% if task.created_by == request.user %}
                  <button type="submit" class="btn btn-link text-danger p-0" title="Delete">
                    <i class="bi bi-trash-fill fs-5"></i>
                  </button>
                {% else %}
                  <button type="button" class="btn btn-link text-secondary p-0" title="Only the creator can delete this" disabled>
                    <i class="bi bi-trash-fill fs-5"></i>
                  </button>
                {% endif %}
              </form>
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <div class="alert alert-info">No tasks available.</div>
  {% endif %}
  <nav class="mt-2">
    <ul class="pagination justify-content-center">
      
      {# Previous Page Link #}
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
      {% endif %}
  
      {# First page #}
      {% if page_obj.number > 3 %}
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        {% if page_obj.number > 4 %}
          <li class="page-item disabled"><span class="page-link">…</span></li>
        {% endif %}
      {% endif %}
  
      {# Page Range Around Current Page #}
      {% for num in page_obj.paginator.page_range %}
        {% if num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
          <li class="page-item {% if num == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}
  
      {# Last page #}
      {% if page_obj.number < page_obj.paginator.num_pages|add:-2 %}
        {% if page_obj.number < page_obj.paginator.num_pages|add:-3 %}
          <li class="page-item disabled"><span class="page-link">…</span></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
      {% endif %}
  
      {# Next Page Link #}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li>
      {% endif %}
  
    </ul>
  </nav>
  
  
</div>
{% endblock %}
