{% extends "base.html" %}

{% block content %}
<div class="container py-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>📋 Notifications</h1>
  </div>

  <form method="get" class="mb-3">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search snippets..." value="{{ request.GET.q|default:'' }}">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </form>

  {% if object_list %}
  <!-- Cards for Mobile -->
  

  <!-- Table for Desktop -->
  <div class="d-none d-md-block">
    <div class="d-flex justify-content-end">
    <a href="{% url 'notification-mark-all-read' %}" class="btn btn-sm btn-outline-success mt-3 mb-3">
      Mark all as read
    </a>
  </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">From</th>
          <th scope="col">Title</th>
          <th scope="col">Event</th>
          <th scope="col">Content</th>
          <th scope="col">Received at</th>
        </tr>
      </thead>
      <tbody>
        {% for notification in object_list %}
        <tr {% if not notification.is_read %} class="table-success" {% endif %} onclick='window.location.href="{% url "notification-read" notification.id %}"' style="cursor: pointer;">
            <th {% if notification.is_read %} class="text-muted" {% endif %} scope="row">{{ notification.id }}</th>
            <td {% if notification.is_read %} class="text-muted" {% endif %}>{{ notification.created_by.get_full_name }}</td>
            <td {% if notification.is_read %} class="text-muted" {% endif %}>{{ notification.title }}</td>
            <td {% if notification.is_read %} class="text-muted" {% endif %}>{{ notification.notification_type }}</td>
            <td {% if notification.is_read %} class="text-muted" {% endif %}>{{ notification.message }}</td>
            <td {% if notification.is_read %} class="text-muted" {% endif %}>{{ notification.created_at|date:"d/m/Y H:i" }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% else %}
  <div class="alert alert-info">No notifications found.</div>
  {% endif %}

  <nav class="mt-2">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        </li>
      {% endif %}

      {% if page_obj.number > 3 %}
        <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
        {% if page_obj.number > 4 %}
          <li class="page-item disabled"><span class="page-link">…</span></li>
        {% endif %}
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if num >= page_obj.number|add:-2 and num <= page_obj.number|add:2 %}
          <li class="page-item {% if num == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if page_obj.number < page_obj.paginator.num_pages|add:-2 %}
        {% if page_obj.number < page_obj.paginator.num_pages|add:-3 %}
          <li class="page-item disabled"><span class="page-link">…</span></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
      {% endif %}

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        </li> 
      {% endif %}
    </ul>
  </nav>

</div>
{% endblock %}
